@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* root */
:root {
  --font-medium: 1.8rem;
  --font-large: 2rem;
  --font-larger: 2.4rem;
}


/* 공통 설정 */
html {
  overflow: hidden;
}
.App {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  color: #222021;
  background: linear-gradient(90deg, #8dafca 0%, #9ac3b5 100%);
}
button, input {
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}

/* 레이아웃 */
#wrap {
  height: 100vh;
  display: flex;
  transition: all 0.6s;
}
.section {
  flex-shrink: 0;
  width: 100%;
  /* pickpop absolute 기준 */
  position: relative;
}
.container {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  position: relative;
}
.row {
  width: 100%;
}


/* 쉐도우 */
.shadow1 {
  -webkit-box-shadow: 6px 6px 20px 5px rgba(0, 0, 0, 0.396); 
  box-shadow: 6px 6px 20px 5px rgba(0, 0, 0, 0.396);
}
.shadow2 {
  -webkit-box-shadow: 6px 6px 15px -5px rgba(0,0,0,0.5); 
  box-shadow: 6px 6px 15px -5px rgba(0,0,0,0.5);
}
/* 버튼 */
.shadow3 {
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.26); 
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.26);
}


/* pop-up CSS */
.blackBg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.503);
}
.popup {
  width: 45%;
  height: 40%;
  background: #D1D5DE;
  border-radius: 50px;
  color: #406BAB;
  
  display: flex;
  flex-direction: column;
  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  z-index: 100;
}
.popup .pick_bar {
  background: #8F9FB6;
  height: 13%;
  text-align: right;
}
.popup .pick_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  line-height: 3.2rem;
}
.popup .pick_cont p {
  font-weight: 500;
  text-align: center;
  margin-bottom: 48px;
}
.popup .pick_cont p > span {
  font-family: 'Kanit', sans-serif;
  font-size: var(--font-large);
  font-weight: 700;
}
.popup .pick_cont p > em {
  font-size: 1.4rem;
  color: #8F9FB6;
  font-weight: 400;
}
.popup .pick_cont button {
  display: inline-block;
  margin: 4px;
  background: #eaeaea;
  font-family: 'Kanit', sans-serif;
  /* font-size: 2.4rem; */
  font-weight: 500;
  padding: 2px 10px;
  border-radius: 8px;
  border: 3px solid #406BAB;
}
.popup .pick_cont button:hover {
  border-color: #6BB17B;
  color: #6BB17B;
}

/* greeting */
#blackBg1 {
  display: block;
  z-index: 2;
}
#greeting {
  z-index: 2;
}
#greeting .pick_bar {
  display: flex;
  justify-content: end;
  align-items: center;
}
#greeting .pick_bar > button {
  margin-right: 40px;
  background: #eaeaea;
  border-radius: 50%;
}
#greeting .pick_bar > button > svg {
  width: 28px;
  stroke-width: 3px;
} 
#greeting .pick_bar > button > svg:hover {
  color: #3BA16A;
}
#greeting .pick_cont {
  line-height: 4.2rem;
}

/* pickPop */
#blackBg2 {
  display: none;
}
#pickPop {
  opacity: 1;
  z-index: -999;
}
