body {
    background: linear-gradient(90deg, #8dafca 0%, #9ac3b5 100%);
    font-size: 1.6rem;
    font-family: 'Noto Sans KR', sans-serif;
    /* font-family: 'Kanit', sans-serif; */
    font-weight: 500;
    color: #222021;
  }