/* #profile */
/* #profile */
.contBox {
    background: #eaeaea;
    border-radius: 50px;
    padding: 100px 0;
}
#profileCont {
    font-family: 'Kanit', sans-serif;
    display: flex;
    justify-content: center;
}
#profileCont .cont_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 56px;
    position: relative;
}
#profileCont .cont_img .cont_diamond {
    width: 75px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
#profileCont .cont_img .imgBg {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    /* background: linear-gradient(90deg, #8dafca 0%, #9ac3b5 100%); */
    background: url('/public/nickBg.png') center no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
#profileCont .cont_img img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
}
#profileCont .cont_desc p {
    line-height: 60px;
    font-size: 2.8rem;
}
#profileCont .cont_desc p span {
    font-weight: 800;
    font-size: 5.6rem;
}
#profileCont .cont_desc .p-1 {
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 18px;
}
#profileCont .cont_desc .p-1 span {
    color: #4C7AB0;
}
#profileCont .cont_desc .p-2 {
    margin-bottom: 18px;
}
#profileCont .cont_desc .p-2 span {
    text-transform: capitalize;
}
#profileCont .cont_desc ul {
    margin: 30px 0;
}
#profileCont .cont_desc ul li {
    display: inline-block;
}
#profileCont .cont_desc ul li.she {
    margin-right: 8px;
}
#profileCont .cont_desc ul li:not(.she) {
    margin-right: 6px;
    padding: 8px;
    border-radius: 10px;
    color: #eaeaea;
}
#profileCont .cont_desc ul.can li:not(.she) {
    background: #9AC3B5;
}
#profileCont .cont_desc ul.is {
    margin-top: -20px;
}
#profileCont .cont_desc ul.is li:not(.she) {
    background: #8CAEC9;
}
